.footer {
    @include look;
    background-color: $footBG;
    padding: 10rem;
    position: relative;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        align-content: flex-start;
    }

    &__local {
        display: flex;
        align-items: flex-start;

        &--icon {
            margin-top: 2.8rem;
        }
    }

    &__text {
        // width: 50%;
        margin-left: 2rem;
        line-height: 1.6;
        font-size: 2rem;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    &__phone, &__email {
        display: flex;
        margin-bottom: 2rem;

        &--number {
            margin-left: 2.5rem;
        }
    }

    &__email--address {
        margin-left: 2.5rem;
    }

    &__menu {

        &--left, &--right {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            list-style-type: none;

            li {
                text-transform: capitalize;
                margin-bottom: 2rem;
            }
        }
    }

    &__media {
        display: flex;
       margin-top: 2rem;

       &--instagram, &--facebook, &--twitter {
           font-size: 3.5rem;
           margin-left: 2rem;
       }
    }
}

.sitename__logo--footer {
    margin: 10rem 0 3rem;
}

@media all and (max-width: 1000px) {
    .sitename__logo--footer {
        padding: 0;
        margin-top: 5rem;
    }
}

@media all and (max-width: 768px) {
    .sitename__logo--footer {
        width: 30%;
    }
}