.navbar {
    background-color: $introBG;
    padding: 3.5rem 4rem;
    @include center;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    font-family: $headingsFont;

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }   

    &__item {
        list-style-type: none;
        font-size: 1.8rem;
        margin-left: 3rem;
        letter-spacing: 1px;
    }

    &__link {
        color: #fff;
        text-decoration: none;

        &:hover {
           border-bottom: 2px solid #fff;
        }
    }
}

@media all and (max-width: 768px) {
    .nav {
        display: none;
    }
}