.option {
    @include look;
    

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        padding: 5rem;
    }
   

    &__item {
        display: flex; 
        flex-direction: column;
        text-align: center;
        align-items: center; 
        margin-top: 6rem;

    }

    &__icon {
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 2.3rem;
        font-weight: $bold;
    }
    &__text {
        max-width: 36rem;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1.4;
    }

}

.exception .option__icon {
    margin-bottom: 1rem;
}