//!! Font 

$bodyFont: 'Open Sans', sans-serif;
$headingsFont: 'Raleway', sans-serif;
$bold: 700;


//!! Colors 


$mainBG:  hsl(218, 28%, 13%);
$footBG:  hsl(216, 53%, 9%);
$testBG:  hsl(219, 30%, 18%);
$introBG: hsl(217, 28%, 15%);
$test: green;

$fyloCyan: hsl(176, 68%, 64%);
$fyloBlue: hsl(198, 60%, 50%);

//!! Mixins 

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin gradBtn {
    width: 30rem;
    height: 6rem;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(to right, $fyloCyan, $fyloBlue);
    border: none; 
    cursor: pointer;
    font-size: 2rem;
    font-weight: $bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}